.square {
  background: #3f72af;
  border: 2px solid #dbe2ef;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 130px;
  text-align: center;
}

.board {
  margin: 0 auto;
  width: 225px;
  height: 225px;
  display: grid;
  grid-template: repeat(3, 0fr) / repeat(3, 0fr);
}

.status {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  margin: auto;
  width: 50%;
  flex-direction: column;
}

.square:focus {
  outline: none;
}
